$font-family: 'Oswald',
sans-serif;

// Colors
$gray: hsla(0, 0%, 100%, 0.658);
$gray-alpha-13: hsla(240, 7%, 40%, 0.137);
$gray-alpha-63: hsla(217, 13%, 19%, 0.63);
$blue-alpha-72: hsla(216, 100%, 50%, 0.726);
$dark: hsl(203, 13%, 35%);
$orange: #ffa500;


$breakpoint: 580px;