
*, ::after, *::before{
    box-sizing: border-box;
}

body{
    margin: 0;
    color: #333333;
    background-color: #efeee7;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}



h1{
    font-size: 1.8rem;
}


.container{
    max-width: 1024px;
    width: 80%;
    margin: 0 auto;
}

header{
    text-align: center;
    background-color: #333333;
    color: #eee;
    padding-block: 1.2rem;
    grid-area: header;
}



.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "header header"
    "bio-info bio-contact";
}

.bio-info{
    grid-area: bio-info;
}



.bio-items{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas: 
    "heading heading"
    "img text";
    column-gap: 1.6rem;
}

.bio-img {
    width: 200px;
    grid-area: img;
    border: 1px solid;
}

.bio-info .section-title{
    grid-area: heading;
}

.contact-links a{
    color: #ed6121;
}

.contact-links li{
    margin-bottom: 0.5rem;
}


